
body {
    margin: 0;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  a {
    color: #1f6f8b;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover {
    color: #104558;
    text-decoration: underline;
  }
  
  a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
  }
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

  .bg-primary {
    background-color: #78DEC7 !important;
  }

  .text-primary {
    color: #78DEC7 !important;
  }

  .subheading {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .p-0 {
    padding: 0 !important;
  }

  .mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.m-0 {
    margin: 0 !important;
  }

  .flex-shrink-0 {
    flex-shrink: 0 !important;
  }

  .d-flex {
    display: flex !important;
  }

  .flex-grow-1 {
    flex-grow: 1 !important;
  }

 

  .justify-content-between {
    justify-content: space-between !important;
  }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

h1, .h1 {
    font-size: 6rem;
  }

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}


  .social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #00EAD3;
  }


  
  section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 85rem;
  }

  section.resume-section-top {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    max-width: 85rem;
  }

  section.resume-section .resume-section-content {
    width: 100%;
  }
  
 
  @media (min-width: 992px) {
    section.resume-section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  
  /*////////////////////////*/


  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-bottom: 32px;;
  }
  
  .list-inline-item {
    display: inline-block;
  }
  .inner-list{
    text-align: left;
    font-size: 18px;;
    margin-right: 50px;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .dev-icons {
    font-size: 3rem;
  }

  .skill-icons-text{
    font-size: 16px;;
    font-weight: 500;
    text-align: center;
    margin-top: 4px;;
    margin-bottom: 6px;
  }
  
  .skill-icons-text img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .small-icon{
    width: 62px;
    height: 62px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  
  .my-profile-image{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 2rem;
    border: 0.4rem solid #78DEC7 ;
  
  }


  @media screen and (max-width: 700px) {
    
    .resume-section-content {
      text-align: center;
    }

    .resume-section{
      display: flex;
      flex-direction: column-reverse;
    }

    .resume-section-top{
      display: flex;
      flex-direction: column-reverse;
    }

    .my-profile-image{
      margin: 2rem 0 1rem 0;
    }
 }

 .btn {
  text-transform: uppercase;
  margin-top: 2rem;
  background-color: #78DEC7;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #00EAD3;
}

.main-list{
  display: inline-block;
}


/*
 
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}*/

/*-------------------------*/

.resume-section-port{
  justify-content: center;
  padding: 30px;
}

.list{
  padding: 6px 12px 6px 12px;;
  margin: 3px;
  background-color: #bbbbbb;
  color: white;
}

.list.active{
  border-color: #212529;
  border-style: solid;
}

.list:hover{
  color: #212529;
}

.product-filters-btn{
  margin: 30px 12px 12px 12px;
  text-align: center;
  justify-content: center;
}


.product{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 justify-content: right;
}


.product .itemBox{
  text-align: center;
  align-items: center;
  width: 300px;
  margin: 7px;
}

.product .itemBox img{
  width: 100%;
}

.transform-on-hover{
  position: relative;
}

  /*image overlay */

  @media (min-width: 576px) {

    .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15) !important;
    }
  }

  .image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  /*adds blur effect*/
  .image-overlay-blur{
    backdrop-filter: blur(5px);
  }
  
  .image-overlay-solid{
    background: red;
  }
  /*> * means target all child elemetns*/
  .image-overlay > * {
      transform: translateY(20px);
      transition: transform 0.25s;
  }
  
  .image-overlay:hover {
    opacity: 1;
  }
  
  .image-overlay:hover > * {
      transform: translateY(0);
  }

  /*------------------------------------*/

  .list-font{
    font-size: 17px;;
  }

  .image-title{
    font-size: 18px;;
    color: white;
  }

  .image-description{
    font-size: 14px;;
    color: white;
  }

  .footer{
    background-color: #78DEC7;
    color: white;
    padding: 20px;
    font-size: 14px;
  }

  .footer a{
    color: white;
    margin: 16px 0 16px 0;
  }

  .footer p{
    display: inline-block;
    margin: 16px 0 16px 0;
  }



  /*---------modal---------*/


  .main-image{
    height: 450px;
    width: 100%;
    object-fit: cover;
  }


  .app-bio{
  margin: 20px 0 60px 0;
  }

  .row-padding{
    padding-left: 50px;
  }

  .header-divider{
    border: 1px solid black;
  }

  .make-inline{
    display: inline;
  }

  .header-container{
    display: flex;
  }

  .header-container h3{
    width: 200px;
  }

  .header-container .space-div{
    width: 100%;
  }

  .header-container img{
    width: 60px;
  }

  .row-padding img{
    height: 50px;
  }

  #appModal a{
    font-size: 14px;;
  }

  #appModal p{
    font-size: 15px;;
  }

  /*------------------image slider-----------*/
.side-container{
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.side-container .carousel-slide{
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.side-container .carousel-slide img{
  width: 400px;
  height: 600px;
}

.slider-section{
  width: 500px;
  margin-left: 30px;
}

.carousel-container-vertical{
  overflow: hidden;
  display: flex;
  margin-bottom: 30px;;
  
}


.slider-buttons{
  text-align: center;
}

#prevBtn{
  z-index: 10;
  cursor: pointer;
  width: 100px;
}

#nextBtn{
  
  z-index: 10;
  cursor: pointer;
  width: 100px;
}

/*

  .carousel-container{

    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  .carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
    
  }

  
  .carousel-slide img{

    width: 800px;
  }*/

  /*
  #prevBtn{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 3%;
    cursor: pointer;
  }

  #nextBtn{
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 3%;
    cursor: pointer;
  }*/

  .indicators{
    margin-top: 20px;;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
  }

  .indicators img{
    padding: 10px;;
    height: 100px;
    width: 100px;
  }

  .not-active{
    opacity: 0.5;
  }

  .active-img{
    opacity: 1;
  }
  
  /*    carouselIndicators[counter].classList.add("active-img");
*/
